<!DOCTYPE html>
<html>
 <style>
 
 table,td,th {
            padding: 10px;
            border: 2px solid #1c87c9;
            border-radius: 5px;
            background-color: #e5e5e5;
            text-align: center;
      }
    </style>
<table style="width:80%%">
    <h2>Scrumy Goals Table</h2>
        <tr>
            <th>User</th>
            <th>Weekly Goals</th>
            <th>Daily Goals</th>
            <th>Verify Goals</th>
            <th>Done Goals</th>
        </tr>
        <tr>
            <td>{{ user}}</td>
            <td> {{ goal_name }}
        </tr>
        <tr>   
            <td></td>
            <td>{{ goal_id }}</td>
        </tr>    
</table>
</html>