<!DOCTYPE html>
<html>
 <style>
 
 table,td,th {
            padding: 10px;
            border: 2px solid #1c87c9;
            border-radius: 5px;
            background-color: #e5e5e5;
            text-align: center;
      }
    </style>
<table style="width:80%%">
<h2>Scrumy Goals Table</h2>
<tr>
    <th>User</th>
    <th>Weekly Goals</th>
    <th>Daily Goals</th>
    <th>Verify Goals</th>
    <th>Done Gaols</th>
</tr>
<tr>
    <td>{{ dict1.user}}</td>
    <td> {{ dict1.goal_name }} ,{{dict1.goal_id }}</td>
    <td></td>
    <td ></td>
    <td ></td>
</tr>
</table>
</html>