<!DOCTYPE html>
<html>
 <style>
 
 table,td,th {
            padding: 10px;
            border: 2px solid #1c87c9;
            border-radius: 5px;
            background-color: #e5e5e5;
            text-align: center;
      }
    </style>

    
<table style="width:80%%", align :center>
    <h2>Scrumy Goals Table</h2>
        <tr>
            <th>User</th>
            <th>Weekly Goals</th>
            <th>Daily Goals</th>
            <th>Verify Goals</th>
            <th>Done Goals</th>
        </tr>
        
            {% for user in user %}
            <tr>
                <td>{{user.username}}</td>

                <td>
                    {% for i in user.created.all %}
                        {% if i.goal_status.status_name == 'Weekly Goal'%}
                        {{i.goal_name}} || {{i.goal_id}}<br>
                        {% endif %}
                     {% endfor %}
                </td>
            
            

                <td>
                    {% for i in user.created.all %}
                        {% if i.goal_status.status_name == 'Daily Goal'%}
                        {{i.goal_name}} || {{i.goal_id}}<br>
                        {% endif %}
                    {% endfor %}
                </td>
            
                <td>
                    {% for i in user.created.all %}
                        {% if i.goal_status.status_name == 'Verify Goal'%}
                        {{i.goal_name}} || {{i.goal_id}}<br>
                        {% endif %}
                    {% endfor %}
                </td>
            
                <td>
                    {% for i in user.created.all %}
                        {% if i.goal_status.status_name == 'Done Goal'%}
                        {{i.goal_name}} || {{i.goal_id}}<br>
                        {% endif %}
                    {% endfor %}
                </td>
            
            {% endfor %}
            </tr>
            
</table>
</html>